<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
  <meta charset="UTF-8"/>

  <link rel="stylesheet" href="/css/admin.css"/>
  <div th:replace="~{fragments/cdns.html :: frag_cdns}"></div>
  <script src="/js/admin.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  <title>Admin Contacts</title>
  <style>
    #titulo{ margin: 10px; font-size: 35px;}
    a{text-decoration: none; }
  </style>

</head>
<body class="d-flex flex-column justify-content-between vh-100">
<!--header-->
<nav th:replace="fragments/header.html :: frag_header"></nav>

<div class="text-center">
  <h1 id="titulo">PANEL DE ADMINISTRACIÓN DE CONTACTOS</h1>
</div>

<div class="alert alert-success " th:if="${success != null}">
  <label th:text="${success}"></label>
</div>
<div class="alert alert-danger" th:if="${error != null}">
  <label th:text="${error}"></label>
</div>

<div class="m2">
 <!-- <dialog id="modaladdcontact">
  <table class="table">
  <tr>
    <td >Auto ID</td>
    <form th:action="@{/adminContactAdd}" th:object="${contact}" method="post">
      <td>
        <input class="form-control" type="text" name="name"  th:field="*{name}" placeholder="name" required>
      </td>
      <td>
        <input class="form-control" type="text" name="email"  th:field="*{email}" placeholder="email" required>
      </td>
      <td>
        <input class="form-control" type="text"  name="phone" th:field="*{phone}" placeholder="phone">
      </td>
      <td>
        <input class="form-control" type="text" name="message"  th:field="*{message}" placeholder="message" >
      </td>
      <td colspan="2">
        <button class="btn btn-info" type="submit">Add Contact</button>
        <button class="btn btn-warning" onclick="window.modaladdcontact.close()">Cerrar</button>
      </td>
    </form>

  </tr>
  </table>
  </dialog>-->

  <div class="m-3">
    <button class="btn btn-warning" ><a href="/admin">Volver atrás </a></button>
 <!-- <button class="btn btn-success" onclick="window.modaladdcontact.showModal()">Add Contact</button>-->
</div>


  <div class="m-3">
    <table class="table table-responsive datatable table-striped order-column display display-compact" style="width: 100%">
      <thead>
      <tr>
        <th>Id <i class="fa-solid fa-sort fa-xs"></i></th>
        <th>Nombre <i class="fa-solid fa-sort fa-xs"></i></th>
        <th>Email <i class="fa-solid fa-sort fa-xs"></i></th>
        <th>Teléfono <i class="fa-solid fa-sort fa-xs"></i></th>
        <th>Mensaje <i class="fa-solid fa-sort fa-xs"></i></th>
        <th class="text-center"><i class="fa-solid fa-pen-to-square"></i></th>
        <th class="text-center"><i class="fa-solid fa-trash-can"></i></th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.name}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.phone}"></td>
        <td th:text="${contact.message}"></td>
       <td>
          <a class="btn btn-info" th:href="@{'/adminContactUpdateForm/' + ${contact.getId()}}">
            <i class="fa-solid fa-pen-to-square fa-xs"></i></a>

        </td>
        <td>
          <button th:attr="contactid=${contact.getId()}"  class="btn btn-danger botonDelete" type="button" >
            <i class="fa-solid fa-trash-can fa-xs"></i></button>
        </td>


      </tr>
      </tbody>
    </table>
  </div>
</div>


<!--footer-->
<footer th:replace="fragments/footer.html :: frag_footer"></footer>
<script>


    var botonesdelete = document.getElementsByClassName("botonDelete");

    for (let boton of botonesdelete) {

    boton.addEventListener("click",borrar);

  }

    function borrar() {

    var id = this.getAttribute("contactid");

    Swal.fire({
    title: 'Estas seguro de que quieres borrar el contacto con Id ' + id + ' ?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sí!'
  }).then((result) => {
    if (result.isConfirmed) {
    window.location.href = "/deleteContact/" + id;
  }
  })

  }


    $('.datatable').DataTable({

      language: {
        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json',
      }
    });


</script>
</body>
</html>