<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="/js/index.js"></script>
    <link rel="icon" type="image/x-icon" href="/img/GRlogosinletras.png">
    <div th:replace="~{fragments/cdns.html :: frag_cdns}"></div>
    <title>Perfil usuario</title>
</head>
<!--header-->
<body class="d-flex flex-column justify-content-between vh-100">
<nav th:replace="~{fragments/header.html :: frag_header}"></nav>
<main class="mt-5 mb-5">
    <section class="pt-5">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-md-8 d-flex justify-content-center justify-content-md-start">
                    <h2>Panel control - USUARIO</h2>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end pt-3 pb-3 p-md-0">
                    <a id="edit-user-link" th:href="@{/edit-user/{id}(id=${user.id})}" class="btn btn-warning mr-2">Editar
                        perfil usuario</a> &nbsp; &nbsp;
                    <a href="/registerCompany">
                        <button class="btn btn-primary mr-2">Añadir Compañía</button>
                    </a> &nbsp; &nbsp;
                    <a id="delete-user-link">
                        <button class="btn btn-danger" type="submit" onclick="deleteUser()">Eliminar usuario
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>
    <!-- Buttons Mis Datos, Mis Reservas section -->
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row d-flex flex-column flex-md-row justify-content-between">
                <div class="col-12 col-md-3 d-flex flex-column">
                    <button class="btn-custom mb-3" onclick="myData(this)">Mis Datos</button>
                    <button class="btn-custom mb-3" onclick="myReserves(this)">Mis Reservas</button>
                </div>
                <!-- PANEL USER -->
                <!-- Mis Datos -->
                <div id="area-myData" class="col-12 col-md-9 mt-5 mt-md-0">
                    <div class="card-body box-gray-light">
                        <h4 class="p-3 pb-3 ">Mis datos</h4>
                        <div class="row d-flex justify-content-between gap-3 pt-2 pb-4 ">
                            <div class="col-md-10 mx-auto">
                                <b><h5>Nombre</h5></b>
                                <p th:text="${user.name}"></p>
                            </div>
                            <div class="col-md-10 mx-auto">
                                <b><h5>Apellido</h5></b>
                                <p th:text="${user.lastname}"></p>
                            </div>
                            <div class="col-md-10 mx-auto">
                                <b><h5>Nombre de Usuario</h5></b>
                                <p th:text="${user.username}"></p>
                            </div>
                            <div class="col-md-10 mx-auto">
                                <b><h5>Correo Electrónico</h5></b>
                                <p th:text="${user.email}"></p>
                            </div>
                            <div class="col-md-10 mx-auto">
                                <b><h5>Teléfono</h5></b>
                                <p th:text="${user.phone}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Mis Reservas-->
                <div id="area-reserves-content" style="display: none;" class="col-12 col-md-9 mt-5 mt-md-0">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h4>Reservas</h4>
                                <hr class="mt-0 mb-4">
                                <div th:each="reserve : ${reserves}">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <b><h5>Fecha y hora</h5></b>
                                            <p th:text="${reserve.date}"></p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <b><h5>Descripción</h5></b>
                                            <p th:text="${reserve.service.name}"></p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6 mb-3">
                                            <b><h5>Compañía</h5></b>
                                            <p th:text="${reserve.company.name}"></p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button class="btn btn-danger" th:attr="data-reserve-id=${reserve.id}"
                                                    onclick="deleteReserve(this.getAttribute('data-reserve-id'))">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/js/main.js"></script>
<!--footer-->
<footer th:replace="~{fragments/footer.html :: frag_footer}"></footer>
</body>
</html>